/* Estilos globales */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Estilos del nav */
nav {
    width: 100%;
    height: 15vh;
    background-color: rgb(52, 93, 104);
    display: flex;
    align-items: center;
    padding: 0;
    border: 3px solid black;
}

/* Estilos para el logo */
.logo1 {
    width: 80px;
    border-radius: 100px;
    margin: 8px;
    position: relative;
    top: 0px;
    left: 5px;
}

/* Estilos para el contenedor de la lista */
ul {
    display: flex;
    gap: 6px;
    margin-left: auto;
}

/* Estilos de los elementos del menú */
nav ul {
    display: flex;
    align-items: center;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: white;
    font-size: 15px;
    padding: 3px;
    border-radius: 8px;
    background-color: rgb(87, 207, 255);
    transition: background-color 0.6s ease;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Opcional: Ajusta el tamaño de la fuente y márgenes si es necesario */
@media (max-width: 768px) {
    /* Ajustes específicos para pantallas pequeñas */
}

/* Estilos para el fondo desenfocado */
.contenido {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.contenido::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('logo/2.jpeg');
    background-size: cover;
    background-position: center top;
    background-position-y: 39%;
    filter: blur(1.25px);
    z-index: -1; /* Pone la imagen desenfocada detrás del contenido */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.titulo {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%; /* Opcional: Asegura que el título ocupe todo el ancho */
    position: relative;
    top: -30px;
}

body, h1, nav {
    margin: 0;
    padding: 0;
}

.t1{
    text-align: center;
    margin-top: 2%;
    color: white;
}

.p1{
    text-align: center;
    margin: 2%;
    color: rgb(255, 0, 0);
}

.t2{
    text-align: center;
    margin-top: 2%;
    color: white;
}

.p2{
    text-align: center;
    margin-top: 2%;
    color: rgb(255, 0, 0);
}

.lista1{
    margin-top: 2%;
    margin-left: 5%;
    text-align: left;
    color: white;
}

.p3{
    text-align: left;
    color: white;
}

